@use '@/scss/color-palette.scss' as *;

.benefits-section {
  color: $text-color-light;
  margin: 1rem 0 2rem;

  .benefits-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;

    .benefit {
      $transition-duration: 0.25s;
      $min-width: 12.5rem;

      padding: 1rem;
      box-shadow: $primary-dark 0px 5px 15px 0px;
      border-radius: 1rem;
      position: relative;
      top: 0;
      transition:
        transform $transition-duration ease-in-out,
        top $transition-duration ease-in-out,
        box-shadow $transition-duration ease-in-out;
      min-width: $min-width;
      max-width: 18.75rem;
      flex-basis: $min-width;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        top: -1rem;
      }

      .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        aspect-ratio: 1;

        svg {
          width: 100%;
          height: 100%;
          fill-opacity: 0;

          path {
            stroke: $accent-gold;
          }
        }
      }

      li {
        list-style: none;

        h3 {
          text-align: center;
        }
      }
    }
  }
}
