$variants: 'hero';

@mixin toast {
  font-size: 1rem;
  font-weight: 600; /* semi-bold */
  margin: 0;
}

@each $variant in $variants {
  @if $variant == 'hero' {
    .h2-#{$variant}-variant {
      margin: 0;
    }
  }
}
