.projects-section {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
}
