@use '@/scss/color-palette' as *;

$delays: 700;
$durations: 100, 300;

@mixin shimmerAnimation {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 6rem;
    height: 4rem;
    background: rgba(255, 255, 255, 0.4);
    background: rgba($text-color-light, 0.4);
    transform: skewX(-25deg);
    animation: goldShimmerWithPause 5s cubic-bezier(0.22, 1, 0.36, 1) infinite;

    @keyframes goldShimmerWithPause {
      0% {
        left: -55%;
      }
      20% {
        left: 105%;
      }
      100% {
        left: 105%;
      }
    }

    @keyframes wait {
      0% {
        left: -100%;
      }
      100% {
        left: -100%;
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.scaleInFromLeftBottom {
  &.visible {
    transform-origin: left bottom;
    animation: scaleInFromLeftBottom 700ms ease-in-out forwards;

    @keyframes scaleInFromLeftBottom {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.fadeInDown {
  &.visible {
    transform-origin: top;
    animation: fadeInDown 300ms ease-in-out forwards;

    @keyframes fadeInDown {
      0% {
        opacity: 0;
        // --VHDistanceToH1: Aprox. space to the top of the viewport
        transform: translateY(calc(var(--VHDistanceToH1) * -1 + -100%));
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.fadeInRight {
  &.visible {
    animation: fadeInRight 300ms ease-in-out forwards;

    @keyframes fadeInRight {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@each $durationN in $durations {
  .fadeInLeft-#{$durationN} {
    $duration: #{$durationN}ms;

    &.visible {
      animation: fadeInLeft 300ms ease-in-out forwards;

      @each $delayN in $delays {
        $delay: #{$delayN}ms;

        &.delay-#{$delayN} {
          animation-delay: $delay;
        }

        @for $i from 0 through 9 {
          &.i-#{$i} {
            animation-delay: #{$i * $durationN}ms;

            &.delay-#{$delayN} {
              animation-delay: $delay + $i * $durationN;
            }
          }
        }
      }

      @keyframes fadeInLeft {
        0% {
          opacity: 0;
          transform: translateX(200%);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
