@use '@/scss/color-palette' as *;

@mixin shimmerAnimation {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 6rem;
    height: 4rem;
    background: rgba(255, 255, 255, 0.4);
    background: rgba($text-color-light, 0.4);
    transform: skewX(-25deg);

    @keyframes goldShimmerWithPause {
      0% {
        left: -55%;
      }
      20% {
        left: 105%;
      }
      100% {
        left: 105%;
      }
    }

    @keyframes wait {
      0% {
        left: -100%;
      }
      100% {
        left: -100%;
      }
    }

    animation: goldShimmerWithPause 5s cubic-bezier(0.22, 1, 0.36, 1) infinite;
  }
}
