h1,
h2,
h3 {
  color: var(--accent-gold);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700; /* bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin: 1.875rem 0 0.9375rem 0;
  font-weight: 600; /* semi-bold */
}

h3 {
  font-size: 1.5rem;
  font-weight: 500; /* medium */
}

p,
a,
span,
li,
blockquote,
cite,
code,
pre,
em,
strong,
small,
sub,
sup,
label,
input[type='text'],
textarea,
button {
  color: var(--light-text);
}

input:not([type='checkbox']),
textarea,
select {
  padding: 0.5rem 1rem;
  background: var(--primary-dark);
  color: var(--light-text);
  border: none !important;
  border-radius: 0.375rem;
  outline-color: transparent;
  outline-offset: 2px;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--medium-text);
    opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Microsoft Edge, Internet Explorer 10-11 */
    color: var(--medium-text);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--light-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-dark) inset;
  transition: background-color 5000s ease-in-out 0s;
}

li {
  list-style: disc inside;
}

a {
  text-decoration: none;
  width: fit-content;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
}
