* {
  --primary-dark: rgb(18, 33, 43);
  --primary-dark-rgb: 18, 33, 43;
  --primary-medium: rgb(14, 42, 58);
  --primary-light: rgb(8, 48, 68);
  --primary-light-rgb: 8, 48, 68;

  --navbar-background-blur-color: rgba(var(--primary-light-rgb), 0.25);

  --accent-orange: rgb(230, 158, 51);
  --accent-gold: rgb(218, 166, 88);

  --error-dark: rgb(140, 13, 15);
  --error-medium: rgb(208, 47, 53);
  --error-light: rgb(219, 57, 59);

  --light-text: rgb(230, 230, 230);
  --medium-text: rgb(153, 153, 153);
}
