* {
  --primary-dark: hsl(204, 41%, 12%);
  --primary-medium: hsl(201, 62%, 14%);
  --primary-light: hsl(199, 80%, 15%);
  --accent-orange: hsl(36, 78%, 55%);
  --accent-gold: hsl(36, 64%, 60%);

  --error: hsl(359, 83%, 30%);
  --error-medium: hsl(358, 63%, 50%);
  --success: hsl(60, 52%, 51%);

  --light-text: hsl(0, 0%, 90%);
  --medium-text: hsl(0, 0%, 60%);
}
