@use './color-palette' as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $primary-medium;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}

main {
  flex: 1 0 auto;
  max-width: 900px;
  width: 100%;
  padding: 1rem 1rem 6rem;
  align-self: center;
}

footer {
  background: $primary-dark;
  padding: 2rem 1rem;
}
