@use '../../scss/color-palette.scss' as *;

.error-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .label-container {
    display: flex;
    gap: 1rem;
    align-items: center;

    .checkbox {
      border-radius: 0.375rem;
      background: $text-color-light;
      transition: background ease-in-out 200ms;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: var(--fa-font-solid);
        content: '\f00c';
        color: $accent-gold;
        transform: scale(0);
        transition: transform ease-in-out 200ms;
        cursor: pointer;
        text-align: center;
        vertical-align: middle;
        height: 14px;
      }

      &:checked {
        background: $primary-dark;

        &::before {
          transform: scale(1);
        }
      }
    }
  }
}
