@use '@/scss/color-palette.scss' as *;
@use '@/scss/animations';

$variants: 'callToAction';

.button {
  padding: 0.5rem 1rem;
  width: fit-content;
  border: none;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @each $variant in $variants {
    &.#{$variant}-variant {
      @if $variant == 'callToAction' {
        @include animations.shimmerAnimation;

        background: $accent-gold;
        color: $primary-dark;
        font-weight: 700;
        transition: background transform 0.2s ease-in-out;

        &:hover {
          animation: none;
          background: $accent-orange;
          transform: scale(1.05);
        }
      }
    }
  }
}
