* {
  color: var(--light-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-gold);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700; /* bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  font-weight: 600; /* semi-bold */
}

h3 {
  font-size: 1.75rem;
  font-weight: 500; /* medium */
}

h4 {
  font-size: 1.5rem;
  font-weight: 400; /* regular */
}

h5 {
  font-size: 1.25rem;
  font-weight: 300; /* light */
}

h6 {
  font-size: 1rem;
  font-weight: 200; /* extra-light */
}
