h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-gold);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700; /* bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2rem;
  margin: 1.875rem 0 0.9375rem 0;
  font-weight: 600; /* semi-bold */
}

h3 {
  font-size: 1.75rem;
  font-weight: 500; /* medium */
}

h4 {
  font-size: 1.5rem;
  font-weight: 400; /* regular */
}

h5 {
  font-size: 1.25rem;
  font-weight: 300; /* light */
}

h6 {
  font-size: 1rem;
  font-weight: 200; /* extra-light */
}

p,
a,
span,
li,
blockquote,
cite,
code,
pre,
em,
strong,
small,
sub,
sup,
label,
input[type='text'],
textarea,
button {
  color: var(--light-text);
}

input,
textarea,
select {
  padding: 0.5rem 1rem;
  background: var(--primary-dark);
  color: var(--light-text);
  border: none !important;
  border-radius: 0.375rem;
  outline-color: transparent;
  outline-offset: 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--light-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--primary-dark) inset;
  transition: background-color 5000s ease-in-out 0s;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
}
