* {
  --primary-dark: rgb(7%, 13%, 17%);
  --primary-medium: rgb(5%, 16%, 22%);
  --primary-light: rgb(3%, 20%, 28%);
  --accent-orange: rgb(90%, 61%, 19%);
  --accent-gold: rgb(86%, 66%, 35%);

  --error: rgb(55%, 5%, 6%);
  --error-medium: rgb(208, 49, 54);
  --success: rgb(76%, 76%, 25%);

  --light-text: rgb(90%, 90%, 90%);
}
