body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--primary-medium);
}

main {
  flex: 1 0 auto;
  max-width: 900px;
  width: 100%;
  padding: 1rem;
  align-self: center;
}
