.footer-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  width: fit-content;

  .links {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-between;
  }

  .copyright {
    font-size: 0.875rem;
    opacity: 0.6;
  }
}
