.hero {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  .text-container {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    max-width: 40rem;
    flex: 3 1 60%;
    padding: 1rem;

    .content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }

  .image-wrapper {
    flex: 2 1 40%;
    min-width: 20rem;
    max-width: 30rem;
    aspect-ratio: 4/3;

    .image {
      object-fit: contain;
      width: 100%;
      height: 100%;
      transform: scaleX(-1);
    }
  }
}
