@use '@/scss/color-palette' as *;

$delays: 333, 666, 1000;
$durations: 100, 333;

@mixin shimmerAnimation {
  position: relative;
  overflow: hidden;
  container-type: inline-size;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 4rem;
    background: rgba($text-color-light, 0.4);
    animation: goldShimmerWithPause 5s cubic-bezier(0.22, 1, 0.36, 1) infinite;
    will-change: transform;

    @keyframes goldShimmerWithPause {
      0% {
        transform: skewX(-25deg) translateX(calc(-100% - 1rem));
      }
      20% {
        transform: skewX(-25deg) translateX(calc(100cqi + 1rem));
      }
      100% {
        transform: skewX(-25deg) translateX(calc(100cqi + 1rem));
      }
    }
  }
}

.hidden {
  opacity: 0;
}

.scaleInFromLeftBottom {
  &.visible {
    transform-origin: left bottom;
    animation: scaleInFromLeftBottom 666ms ease-in-out forwards;

    @keyframes scaleInFromLeftBottom {
      0% {
        opacity: 0;
        transform: scale(0);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.fadeInTop {
  &.visible {
    transform-origin: top;
    animation: fadeInTop 300ms ease-in-out forwards;

    @keyframes fadeInTop {
      0% {
        opacity: 0;
        // --VHDistanceToH1: Aprox. space to the top of the viewport
        transform: translateY(calc(var(--VHDistanceToH1) * -1 + -100%));
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.fadeInBottom {
  &.visible {
    $duration: 333ms;

    transform-origin: top;
    animation: fadeInBottom $duration ease-in-out forwards;

    @each $delayN in $delays {
      $delay: #{$delayN}ms;

      &.delay-#{$delayN} {
        animation-delay: $delay;
      }

      @for $i from 0 through 9 {
        &.i-#{$i} {
          animation-delay: $i * $duration;

          &.delay-#{$delayN} {
            animation-delay: $delayN + $i * $duration;
          }
        }
      }
    }

    @keyframes fadeInBottom {
      0% {
        opacity: 0;
        transform: translateY(100%);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.fadeInRight {
  &.visible {
    animation: fadeInRight 300ms ease-in-out forwards;

    @keyframes fadeInRight {
      0% {
        opacity: 0;
        transform: translateX(-100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

@each $durationN in $durations {
  .fadeInLeft-#{$durationN} {
    &.visible {
      animation: fadeInLeft 300ms ease-in-out forwards;

      @each $delayN in $delays {
        $delay: #{$delayN}ms;

        &.delay-#{$delayN} {
          animation-delay: $delay;
        }

        @for $i from 0 through 9 {
          &.i-#{$i} {
            animation-delay: #{$i * $durationN}ms;

            &.delay-#{$delayN} {
              animation-delay: $delay + $i * $durationN;
            }
          }
        }
      }

      @keyframes fadeInLeft {
        0% {
          opacity: 0;
          transform: translateX(200%);
        }
        99% {
          opacity: 1;
          transform: translateX(0);
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
