$variants: 'callToAction';

.button {
  padding: 0.5rem 1rem;
  width: fit-content;
  border: none;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @each $variant in $variants {
    &.#{$variant}-variant {
      @if $variant == 'callToAction' {
        background-color: var(--accent-orange);
        color: var(--primary-dark);
        font-weight: 700;
      }
    }
  }
}
