@use '@/scss/color-palette' as *;
@use '@/scss/animations';

$variants: 'callToAction', 'callToActionSecondary', 'heading', 'logo',
  'logoSmall', 'small', 'underlined', 'solid';

$CTAs: 'callToAction', 'callToActionSecondary';

@mixin CTAs {
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition:
    border-color 300ms ease-in-out,
    transform 300ms ease-in-out;

  &:hover {
    border-color: $accent-orange;
    transform: scale(1.05);

    &::before {
      animation: none;
    }
  }
}

@mixin logos {
  color: $accent-gold;
  font-weight: 700;
  white-space: nowrap;
}

.link {
  text-align: center;

  @each $variant in $variants {
    &.#{$variant}-variant {
      @if $variant == 'callToAction' {
        @include CTAs;
        @include animations.shimmerAnimation;

        color: $primary-dark;
        background: $accent-gold;

        &:hover {
          background: $accent-orange;
        }
      }

      @if $variant == 'callToActionSecondary' {
        @include CTAs;

        border: 0.1875rem solid $accent-gold;

        &:hover {
          border-color: $accent-orange;
        }
      }

      @if $variant == 'heading' {
        color: $accent-gold;
      }

      @if $variant == 'logo' {
        @include logos;

        font-size: 2rem;
      }

      @if $variant == 'logoSmall' {
        @include logos;

        color: $accent-gold;
        font-weight: 700;
        font-size: 1.125rem;
        height: fit-content;
        margin: 0.5625rem 0;
      }

      @if $variant == 'small' {
        font-size: 0.875rem;
        padding: 0.375rem 0;
        display: flex;
        gap: 0.875rem;
        align-items: center;
        color: $text-color-medium;
      }

      @if $variant == 'underlined' {
        text-underline-offset: 0.25rem;
        text-decoration: underline $text-color-light solid 0.125rem;
      }

      @if $variant == 'solid' {
        color: $text-color-medium;
      }
    }
  }
}
