.navbar {
  border: 1px solid blue;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;

  .sections-links {
    display: flex;
    gap: 2rem;

    .home-page {
      display: flex;
      gap: 1rem;
    }

    .dedicated-page {
    }
  }
}
