@import './../../scss/color-palette';

.navbar {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  padding: 0.5rem;
  background: $primary-light;

  @supports (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
    background: rgba($primary-light, 0.25);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    backface-visibility: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }
}
