$variants: 'callToAction', 'callToActionSecondary', 'header', 'logo',
  'logoSmall', 'small', 'underlined';
$CTAs: 'callToAction', 'callToActionSecondary';

@mixin CTAs {
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

@mixin logos {
  color: var(--accent-gold);
  font-weight: 700;
}

.link {
  text-decoration: none;

  @each $variant in $variants {
    &.variant-#{$variant} {
      @if $variant == 'callToAction' {
        @include CTAs;

        background: var(--accent-orange);
        color: var(--primary-dark);
      }

      @if $variant == 'callToActionSecondary' {
        @include CTAs;

        border: 0.1875rem solid var(--accent-orange);
      }

      @if $variant == 'header' {
        color: var(--accent-gold);
      }

      @if $variant == 'logo' {
        @include logos;

        font-size: 2rem;
      }

      @if $variant == 'logoSmall' {
        @include logos;

        color: var(--accent-gold);
        font-weight: 700;
        font-size: 1.125rem;
        height: fit-content;
        margin: 0.5625rem 0;
      }

      @if $variant == 'small' {
        font-size: 0.875rem;
        padding: 0.375rem 0;
        display: flex;
        gap: 0.875rem;
        align-items: center;
        opacity: 0.6;
      }

      @if $variant == 'underlined' {
        text-underline-offset: 0.25rem;
        text-decoration: underline var(--light-text) solid 0.125rem;
      }
    }
  }
}
