@import './../../scss/color-palette';

$variants: 'callToAction', 'callToActionSecondary', 'header', 'logo',
  'logoSmall', 'small', 'underlined', 'solid';

$CTAs: 'callToAction', 'callToActionSecondary';

@mixin CTAs {
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

@mixin logos {
  color: $accent-gold;
  font-weight: 700;
  white-space: nowrap;
}

.link {
  text-align: center;

  @each $variant in $variants {
    &.#{$variant}-variant {
      @if $variant == 'callToAction' {
        @include CTAs;
        $bg-color: $accent-orange;

        background: $accent-orange;
        color: $primary-dark;

        &:hover {
          background-color: darken(
            $bg-color,
            10%
          ); // This will make the color slightly darker on hover
          transform: scale(
            1.05
          ); // This will slightly scale up the link on hover
        }
      }

      @if $variant == 'callToActionSecondary' {
        @include CTAs;

        border: 0.1875rem solid $accent-orange;
      }

      @if $variant == 'header' {
        color: $accent-gold;
      }

      @if $variant == 'logo' {
        @include logos;

        font-size: 2rem;
      }

      @if $variant == 'logoSmall' {
        @include logos;

        color: $accent-gold;
        font-weight: 700;
        font-size: 1.125rem;
        height: fit-content;
        margin: 0.5625rem 0;
      }

      @if $variant == 'small' {
        font-size: 0.875rem;
        padding: 0.375rem 0;
        display: flex;
        gap: 0.875rem;
        align-items: center;
        color: $text-color-medium;
      }

      @if $variant == 'underlined' {
        text-underline-offset: 0.25rem;
        text-decoration: underline $text-color-light solid 0.125rem;
      }

      @if $variant == 'solid' {
        color: $text-color-medium;
      }
    }
  }
}
