$variants: 'callToAction', 'callToActionSecondary', 'header', 'logo';
$CTAs: 'callToAction', 'callToActionSecondary';

@mixin CTAs {
  padding: 0.5rem 1rem;
  height: 3rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.link {
  width: fit-content;
  text-decoration: none;

  @each $variant in $variants {
    &.variant-#{$variant} {
      @if $variant == 'callToAction' {
        @include CTAs;

        background: var(--accent-orange);
        color: var(--primary-dark);
      }

      @if $variant == 'callToActionSecondary' {
        @include CTAs;

        border: 0.1875rem solid var(--accent-orange);
      }

      @if $variant == 'header' {
        color: var(--accent-gold);
      }

      @if $variant == 'logo' {
        color: var(--accent-gold);
        font-size: 2rem;
        font-weight: 700;
      }
    }
  }
}
