@use '@/scss/animations';

.hero {
  $defaultMarginTop: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: $defaultMarginTop;

  @media (orientation: landscape) {
    margin-top: calc($defaultMarginTop * 3);
    margin-bottom: 1rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    flex: 3 1 60%;
    padding: 0.25rem 1rem 1rem;
    gap: 2rem;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  .image-wrapper {
    flex: 2 1 40%;
    min-width: 20rem;
    max-width: 25rem;
    aspect-ratio: 4/3;

    .image {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}
