.contact {
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    button {
      align-self: center;
      min-width: 50%;
    }
  }
}
