$description-variants: 'component', 'page';

.contact {
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @each $descrion-variant in $description-variants {
      @if $descrion-variant == 'component' {
        .description-#{$descrion-variant}-variant {
          margin-bottom: 1rem;
        }
      } @else {
        .description-#{$descrion-variant}-variant {
          margin-bottom: 2rem;
        }
      }
    }

    .send-button {
      align-self: center;
      min-width: 50%;
    }
  }
}
