.experience-card {
  .title {
    .external-link-icon {
      &::after {
        content: '\f35d';
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font: --fa-font-solid;
        margin-inline-start: 1rem;
        font-size: 1rem;
        vertical-align: middle;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
